


audio-player * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  color: #fff;
}
audio-player .play-pause {
  position: relative;
  background-color: transparent;
  border: 0;
  margin-right: 10px;
  -webkit-transition: color .15s ease-in-out;
  -ms-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
  transform: translateY(50%);
}

.play-pause .pause-text {
  display: none;
}
.play-pause.paused .pause-text {
  display: inline-block;
}
.play-pause.paused .play-text {
  display: none;
}

audio-player input {
  appearance: none;
  -webkit-appearance:none;
  background: none;
  cursor: pointer;
  display: block;
  height: 100%;
  min-height: 20px;
  overflow: hidden;

  transform: translateY(50%);


  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover,
  &:active {
    &::-webkit-slider-thumb {
      width: 10px;
      height: 10px;

      background: #fff;
    }

    &::-moz-range-thumb {
      opacity: 1;
    }

    &::-ms-thumb {
      opacity: 1;
    }
  }

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #666;
    height: 3px;
  }


  &::-webkit-slider-thumb {
    width: 0px;
    height: 0px;
    -webkit-appearance: none;
    background: transparent;
    border-radius: 50%;
    margin-top: -3px;
    position: relative;
  }

  &::-webkit-slider-thumb:before {
    position: absolute;
    top: 3px;
    right: 50%;
    left: -200px;
    background:  #fff;
    content: '';
    height: 3px;
    pointer-events: none;
  }

  &::-moz-range-track {
    width: 45px;
    height: 3px;
  }

  &::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #e00;
    border: 0;
    border-radius: 50%;
    position: relative;
    opacity: 0;
  }

  &::-moz-range-progress {
    height: 3px;
    background: #e00;
    border: 0;
    margin-top: 0;
  }

  &::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: 3px;
    margin-top: 10px;
    width: 45px;
  }

  &::-ms-thumb {
    border: 0px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    //border-radius: 50%px;
    background: #e00;
    opacity: 0;
  }

  &::-ms-fill-lower {
    background: #e00;
    border-radius: 0;
  }

  &::-ms-fill-upper {
    background: #666;
    border-radius: 0;
  }

  &::-ms-tooltip {
    display: none;
  }
}



/*****************************/
/***** Marquee  **************/
/*****************************/

/* Make it a marquee */
.marquee {
  overflow: hidden;
  position: relative;
  padding-top: 3px;
}

.marquee div {
  display: block;
  width: 400%;
  height: 35px;

  position: absolute;
  overflow: hidden;

  animation: marquee 8s linear infinite;
}

.marquee span {
  font-size: 1.4em;
  float: left;
  width: 50%;
  overflow-x: hidden;
}

.marquee .fader {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: -webkit-linear-gradient(left, #424242 0%, rgba(66,66,66,0) 5%, rgba(66,66,66,0) 95%, rgba(66,66,66, 1) 100%);
  background: linear-gradient(to right, #424242 0%, rgba(66,66,66,0) 5%, rgba(66,66,66,0) 95%, rgba(66,66,66, 1) 100%);
}




@keyframes marquee {
  0% { left: 0; }
  100% { left: -200%; }
}


.marquee:hover {
  animation-play-state: paused
}

