
<div class="form-inline">
  <div class="form-group play-pause" ng-click="playPause()" ng-class="{paused:radio.isPlaying()}">
    <div class="sr-only">Play/pause Button</div>
    <!--<i class="fa fa-play play-text"></i>-->
    <div class="play-icon play-text"></div>
    <div class="pause-icon pause-text"></div>
    <!--<i class="fa fa-pause pause-text"></i>-->
  </div>

  <div class="form-group vol-control col-xs-hidden">
    <input min="0" max="100" step="5" type="range" ng-change="radio.volume(volume)" ng-model="volume" placeholder="volume"/>
  </div>

  <div class="form-group meta-data marquee">
    <span class="radioplayer" data-src="http://streaming.radio.co/s8ca94767c/listen"
          data-playbutton="false" data-volumeslider="false" data-elapsedtime="false"
          data-nowplaying="true" data-showplayer="false">
    </span>
  </div>
</div>

