
<div class="carousel-container" ng-swipe-left="next()" ng-swipe-right="previous()" ng-mousedown="stopRotation()" ng-mouseup="startRotation()">
  <!--Top Marquee for controls and info display-->
  <div class="carousel-controls col-xs-12">
    <div class="previous" ng-click="previous()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
      <div class="arrow">
        <span class="icon-wrap"></span>
      </div>
    </div>

    <div class="next" ng-click="next()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
      <div class="arrow">
        <span class="icon-wrap"></span>
      </div>
    </div>
  </div>

  <div class="carousel-img-container">
    <div class="bg-img" ng-class="direction" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)" style="background-image: url('{{slide.images[0]}}')"></div>
  </div>

  <div class="info" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
    <div class="animated-slide" ng-class="direction" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="slide in slides">
      <h2>{{slide.name}}</h2>
      <h4>{{slide.category}}</h4>
      <p><span>{{slide.desc.en}}</span></p>
      <!--<a ui-sref="pages({type:'{{slide.category}}', id:'{{slide.id}}')">Go! &ndash;&gt;</a>-->
    </div>
  </div>
</div>