<section class="container" ng-controller="DjsController" ng-init="find()">
  <div>
    <h1>SCRadio DJs</h1>
  </div>
  <div class="items-list row">
    <a ng-repeat="dj in djs" ui-sref="djs.view({djId: dj._id})" class="items-list-group col-xs-6 col-sm-4 col-md-3">
      <div class="items-list-group-container">
        <div class="items-list-group-image-container" ng-style="{'background-image':'url({{dj.image}})'}">
          <div class="sr-only">Image of {{dj.image}}</div>
        </div>
        <div class="items-list-group-text">
          <span class="items-list-group-text-header" ng-bind="dj.title"></span>
          <div ng-if="dj.schedule">
            <span>{{dj.schedule.frequency | capitalize}}</span>
            <span>{{dj.schedule.day | capitalize}}s</span>
            <span>at {{dj.schedule.time}}</span>
          </div>

        </div>
        <!--<h4 class="list-group-item-heading" ng-bind="dj.title"></h4>-->
        <!--<p class="list-group-item-text" ng-bind="dj.content"></p>-->
      </div>
    </a>
  </div>
  <!--<div class="alert alert-warning text-center" ng-if="djs.$resolved && !djs.length">-->
    <!--No djs yet, why don't you <a ui-sref="djs.create">create one</a>?-->
  <!--</div>-->
</section>
