<section ng-controller="DjsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="dj.title"></h1>

    <!-- This should never be removed from this page. -->
    <div class="" ng-show="authentication.user._id == dj.user._id || authentication.user.role == 'admin'">
      <a class="btn btn-primary" ui-sref="djs.edit({djId: dj._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>

  </div>
  <div class="pull-right" ng-show="authentication.user._id == dj.user">
    <a class="btn btn-primary" ui-sref="djs.edit({djId: dj._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      {{userID}}
      <span ng-bind="dj.created | date:'mediumDate'"></span>
      by
      <span ng-if="dj.user" ng-bind="dj.user.displayName"></span>
      <span ng-if="!dj.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="dj.content"></p>
</section>
