<div ng-controller="SidenavController">

  <!-- Sidenav toggle button. Hangs to the right, relative to sidenav -->
  <button type="button" id="menu-toggle" class="col-xs-1" ng-class="{toggled: menu_toggled}" ng-click="menuToggle()" >
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
  </button>

  <!-- Sidebar -->
  <div id="sidebar-overlay" ng-class="{toggled: menu_toggled}" ng-click="menuToggle()"></div>
  <div id="sidebar-wrapper" ng-class="{toggled: menu_toggled}">
    <!-- Sidebar Toggle -->
    <nav>
      <ul class="sidebar-nav">
        <li class="sidebar-brand">SCRadio</li>
        <li role="presentation" ng-click="menuToggle()"><a ui-sref="home">Home</a></li>
        <li role="presentation" ng-click="menuToggle()">
          <a ng-if="isLoggedin === ''" type="button" ui-sref="login" class="btn btn-block btn-success ng-cloak">Login or Register</a>
          <a ng-if="isLoggedin != ''" type="button" ng-click="logout()" class="btn btn-success btn-block ng-cloak">Log Out</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /Sidebar -->
</div>