<div class="container" ng-controller="ContentsController">
    <div class="responsive-iframe">
        <iframe src="https://player.twitch.tv/?channel=seoulcommunityradio" frameborder="0"
                scrolling="no" height="378" width="620"></iframe>
        <a href="https://www.twitch.tv/seoulcommunityradio?tt_medium=live_embed&tt_content=text_link"
           style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">
            Watch live video from seoulcommunityradio on www.twitch.tv
        </a>
    </div>
</div>