<section ng-controller="ContentsController" ng-init="findOne()" style="min-height:100vh;">
  <div layout="row" layout-align="start center" style="min-height:100vh;">
    <div flex="30" flex-xs="80" flex-sm="50" flex-md="40" flex-offset="5" style="margin-top: 10%;">
      <div layout="column" layout-padding>
        <md-card flex>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{content.title}}</span>
              <small>
                <em class="text-muted">
                  <span class="item-headline" ng-show="$root.lang">{{content.headline[$root.lang] || content.headline.en}}</span>
                </em>
              </small>
            </md-card-title-text>
            <md-card-actions layout="row" layout-align="end start">
              <md-button class="md-icon-button" ng-if="content.links.mixcloud"
                         ng-click="$root.playerPlay(content.links.mixcloud)"
                         aria-label="Play media for {{content.title}}">
                <md-icon md-font-icon="fa fa-play fa-lg"></md-icon>
              </md-button>
            </md-card-actions>
          </md-card-title>
          <md-card-content md-layout="row" ng-show="content.description[$root.lang] || content.description.en">
            <span>{{content.description[$root.lang] || content.description.en}}</span>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center" ng-if="authentication.user">
            <md-button ng-click="removeContent()">
              <md-icon md-font-icon="fa fa-times fa-lg"></md-icon>
            </md-button>
            <md-button ui-sref="contents.edit({contentId: content._id})">
              <md-icon md-font-icon="fa fa-edit fa-lg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>

    </div>
  </div>
</section>
