
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media screen and (max-width: 767px) {
  .col-xs-hidden{
    display: none;
  }
}

/***************************/
// Site wide element styles
/***************************/
*:focus {
  outline: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}
a:hover {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

/***************************/
// View: main ui-views
/***************************/
// push views farther down from header
.view {
  min-height: 100vh;
  padding-top: 55px;
}

/***************************/
// Backgrounds
/***************************/
.bg {
  background-size: cover;
  background-position: center;
}

.bg-1 {
  background-image: url('/modules/core/client/data/images/Close quarters.jpg')
}

/***************************/
// List and individual model pages
/***************************/
.items-list {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, .4);
}

.items-list-group {
  padding-bottom: 23px;
}

.items-list-group:hover .items-list-group-image-container {
  border: solid 3px white;
}

.items-list-group-container {
  background-color: rgb(0, 0, 0);
}

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover;
}

.items-list-group-image {}

.items-list-group-text {
  height: 65px;
  padding: 5px;
}

.items-list-group-text-header {
  font-size: 1.2em;
}

