

@font-face {
  font-family: "DIN";
  //src: url("https://www.dropbox.com/s/uvsoui72xvysrmj/DIN%20CONDENSED%20BOLD.TTF?dl=0") format('truetype');
  src: url("/modules/core/client/assets/fonts/DIN_bold.TTF") format('truetype');
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  height: 100%;
  padding: 0;
  background-color: transparent;
  font-family: "DIN", 'Roboto', sans-serif;
  color: rgb(255, 255, 255);

  // To avoid covering the carousel component
  z-index: -1;
}

html {
  height: 100%;
  //background: url('https://lh3.googleusercontent.com/Q5h4bIekRT1y819W9z_O6-ZQdhHmBXRqOFb7gof2mEhv6G1UJ0cJJ8RAOKVlUn_9ei4giJ6UczS3BazqTnPG7y86Eq8q0xFpED6U3RROiZ1owYxUfixQJOhQXgojHCDwPacIXqVdurjcG7JFKgaA4iRTMVCij_JJUqHsojXiO2m5UqVXaWZcySetxGQqhCZaJIBkSCxsgM0eBdZ-y8NXEs-QlGfnPSv5kz-_i45cLfvMj6UhC_UBbCUuD4zrtiN6uKJO00naAAkdf7AJt2bIb8c8stdHbgCC3evDAIPLSaU44CtS654a4l9SRp0hCcLJKuAI4RfRwo49QEbd7PvrhpADJIdzD1UM1GsgNwTO1mhrB-jr816lx8mYXf6pSq62nm-hWFc_GdF47sYDHQ2Hdx-rNQN2Iig6tPcJCE2rJy62eDGXWuKBn3sKOWWyQCrw2X1kloSA6m2swln1gRp7hgvCrJ5dDI1IWlNnOpsZPT65firmMX-7X-W7GzTYHn5TWslrKVpC2whu56htGkS7ZEPSCFbqAlGXyADvxovAs3suy2X-qWvCosSwIWkyTODEFjhbLFez76rDVCT4urC7bK6vcfWatbc=w896-h623-no') no-repeat center;
  //background-size: cover;
}

/***************************/
// Site wide helpers
/***************************/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/***************************/
// Site wide element styles
/***************************/
*:focus {
  outline: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

///* Bootstrap over-riding */
.row-table {
  display: table;
  margin-right: -15px;
  margin-left: -15px;
}

.row-table [class*="col-sm"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/***************************/
// View: main ui-views
/***************************/
.app-body {
  padding-bottom: 70px;
}

.view {
  padding-top: 55px;
}

/***************************/
// Backgrounds
/***************************/
.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-revealer {
  min-height: 50vh;
}

/***************************/
// List model pages
/***************************/
.items-list {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, .4);
}

.items-list-group {
  padding-bottom: 23px;
}

.items-list-group:hover .items-list-group-image-container {
  border: solid 3px white;
}

.items-list-group-container {
  background-color: rgb(0, 0, 0);
}

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover;
}

.items-list-group-image {}

.items-list-group-text {
  height: 65px;
  padding: 5px;
}

.items-list-group-text-header {
  font-size: 1.2em;
}
.item span {
  position: relative;
  display: block;
}

/***************************/
// Individual model pages
/***************************/
.admin-crud {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  position: relative;
}

.item-desc {
  padding: 0 10px;
}

.item-info {
  position: absolute;
  left: 50px;
  display: inline-block;
  padding-top: 4px;
}

.item-info p {
  padding-right: 15px;
  padding-left: 15px;

  text-align: justify;
}

/* item top section */
.item-top {
  position: relative;
}
.item-header {
  height: 60px;
  background-color: rgb(40, 40, 40);
}
.item-play {
  position: absolute;
  top: 12px;
  display: inline-block;
}
.item-title {
  font-size: 1.5em;
}

/* item bottom section */
.item-bottom {
  position: relative;

  height: 500px;
  background-color: transparent;
  //background-color: rgb(40, 40, 40);
  color: rgb(195, 195, 195);
  a {
    color: rgb(195, 195, 195);
  }
}
.item-bottom ul {
  border-bottom-color: rgba(255,255,255,0.05);
  border-top-color: rgba(0,0,0,0.2);
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.item-bottom li {
  margin: 0;
  padding: 5px;
  position: relative;
  height: 50px;

  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.item-left {
  position: relative;
  height: 100%;
  background-color: rgb(40, 40, 40);
}
.item-middle {
  height: 100%;
  background-color: rgb(24, 24, 24);
}
.item-right {
  height: 100%;
  background-color: rgb(40, 40, 40);
}

/***************************/
// Material Design Styles
/***************************/

md-content.md-scr-main-theme {
  background-color: transparent;

}



.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.responsive-iframe.chat {
  padding-bottom: 116.1%;
}