
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  min-height: 100vh;
  padding: 0;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);

  // To avoid covering the carousel component
  z-index: -1;
}

html {
  background-position: center;
  background-size: contain;
  background-image: url('../img/brand/brand-logo.jpg');
  background-repeat: no-repeat;
}

/***************************/
// Site wide helpers
/***************************/
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/***************************/
// Site wide element styles
/***************************/
*:focus {
  outline: none;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: whitesmoke;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

///* Bootstrap over-riding */
.row-table {
  display: table;
  margin-right: -15px;
  margin-left: -15px;
}

.row-table [class*="col-sm"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}

/***************************/
// View: main ui-views
/***************************/
.view {
  padding-top: 55px;
}

/***************************/
// Backgrounds
/***************************/
.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-revealer {
  min-height: 50vh;
}

/***************************/
// List model pages
/***************************/
.items-list {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, .4);
}

.items-list-group {
  padding-bottom: 23px;
}

.items-list-group:hover .items-list-group-image-container {
  border: solid 3px white;
}

.items-list-group-container {
  background-color: rgb(0, 0, 0);
}

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover;
}

.items-list-group-image {}

.items-list-group-text {
  height: 65px;
  padding: 5px;
}

.items-list-group-text-header {
  font-size: 1.2em;
}
.item span {
  position: relative;
  display: block;
}

/***************************/
// Individual model pages
/***************************/
.admin-crud {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  position: relative;
}
.item-info {
  display: inline-block;
  padding-top: 8px;
}

.item-info p {
  padding-right: 15px;
  padding-left: 15px;

  text-align: justify;
}

/* item top section */
.item-top {
  position: relative;
}
.item-header {
  height: 60px;
  background-color: rgb(40, 40, 40);
}
.item-play {
  display: inline-block;
  &.right {
    position: absolute;
    right: 0;
    top: 12px;
  }
}
.item-title {
  font-size: 1.5em;
}

/* item bottom section */
.item-bottom {
  position: relative;
  background-color: rgb(40, 40, 40);
  color: rgb(195, 195, 195);
  a {
    color: rgb(195, 195, 195);
  }
}
.item-bottom ul {
  border-bottom-color: rgba(255,255,255,0.05);
  border-top-color: rgba(0,0,0,0.2);
  padding-left: 0;
  list-style: none;
}
.item-bottom li {
  margin: 0;
  padding: 0;
  position: relative;
  height: 50px;

  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.item-left {
  position: relative;
}
.item-middle {
  background-color: rgb(24, 24, 24);
}
.item-right {

}
