<section ng-controller="SpecialsController" ng-init="clear(); findOne(); getRegulars()">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 jumbotron">
    <div class="col-xs-10 col-xs-offset-1">
      <div>
        <h2>Edit Special: {{special.title}}</h2>
      </div>
      <form name="specialForm" class="form-horizontal" ng-submit="create(specialForm.$valid)" novalidate>
        <fieldset>

          <div class="form-group" show-errors>
            <label for="title">Title:</label>
            <input name="title" type="text" ng-model="special.title" id="title" class="form-control" placeholder="Title" required>
            <div ng-messages="specialForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Special title is required.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="image">Image:</label>
            <input name="image" type="text" ng-model="special.image" id="image" class="form-control" placeholder="Image URL">
          </div>

          <div class="form-group">
            <label>Links: <span class="caption text-muted">Fill in applicable; these are used as social media links</span></label>
            <input name="links" type="text" ng-model="special.links.facebook" class="form-control" placeholder="Facebook Page URL">
            <input name="links" type="text" ng-model="special.links.twitter" class="form-control" placeholder="Twitter Page URL">
            <input name="links" type="text" ng-model="special.links.mixcloud" class="form-control" placeholder="Mixcloud Page URL">
            <input name="links" type="text" ng-model="special.links.home" class="form-control" placeholder="Home Page URL">
          </div>

          <div class="form-group">
            <div>
              <label for="description_en">
                Description: <span class="caption text-muted">English synopsis of your special (100~500 Characters)</span>
              </label>
              <textarea name="description_en" type="text" ng-model="special.description.en" id="description_en" class="form-control" placeholder="English description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label for="description_kr">
                Description: <span class="caption text-muted">Korean synopsis of you and your style (100~500 Characters)</span>
              </label>
              <textarea name="description_kr" type="text" ng-model="special.description.kr" id="description_kr" class="form-control" placeholder="Korean description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="time">
              Time: <span class="caption text-muted">Start time of your special.</span>
            </label>
            <input type="time" id="time" name="input" ng-model="special.schedule.time" placeholder="HH:mm:ss" />
          </div>

          <div class="form-group">
            <label for="daySelect">
              Day: <span class="caption text-muted">Day the special airs</span>
            </label>
            <select name="daySelect" id="daySelect" ng-model="special.schedule.day">
              <option ng-repeat="option in days" value="{{option}}">{{option | capitalize}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="frequencySelect">
              Frequency: <span class="caption text-muted">Daily, weekly, monthly.</span>
            </label>
            <select name="frequencySelect" id="frequencySelect" ng-model="special.schedule.frequency">
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
            </select>
          </div>

          <div class="form-group">
            <label for="regularSelect">
              REGULARs: <span class="caption text-muted">REGULARs that host this special.</span>
            </label>
            <select name="regularSelect" id="regularSelect" ng-model="selected_regular">
              <option ng-repeat="option in regulars | orderBy:'title'" value="{{option.title}}">{{option.title}}</option>
            </select>
            <span class="glyphicon glyphicon-plus" ng-click="addRegular(selected_regular)"></span>
            <div>
              <span class="text-muted">REGULARs to add: </span>
              <div ng-repeat="regular in special.regulars" style="display:block; background: rgba(0, 0, 0, 0.1) ">
                <span>{{regular.title}}</span>
                <span class="glyphicon glyphicon-minus-sign" ng-click="removeRegular(regular)"></span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Featured: <span class="caption text-muted">Is this special featured</span></label>
            <input name="featured" placeholder="Is this special featured" type="checkbox" ng-model="special.featured">
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>

          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

