audio-player * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  color: #fff; }

audio-player .play-pause {
  position: relative;
  background-color: transparent;
  border: 0;
  margin-right: 10px;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
  -webkit-transform: translateY(50%);
          transform: translateY(50%); }

.play-pause .pause-text {
  display: none; }

.play-pause.paused .pause-text {
  display: inline-block; }

.play-pause.paused .play-text {
  display: none; }

audio-player input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background: none;
  cursor: pointer;
  display: block;
  height: 100%;
  min-height: 20px;
  overflow: hidden;
  -webkit-transform: translateY(50%);
          transform: translateY(50%); }
  audio-player input:focus {
    box-shadow: none;
    outline: none; }
  audio-player input:hover::-webkit-slider-thumb, audio-player input:active::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    background: #fff; }
  audio-player input:hover::-moz-range-thumb, audio-player input:active::-moz-range-thumb {
    opacity: 1; }
  audio-player input:hover::-ms-thumb, audio-player input:active::-ms-thumb {
    opacity: 1; }
  audio-player input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #666;
    height: 3px; }
  audio-player input::-webkit-slider-thumb {
    width: 0px;
    height: 0px;
    -webkit-appearance: none;
    background: transparent;
    border-radius: 50%;
    margin-top: -3px;
    position: relative; }
  audio-player input::-webkit-slider-thumb:before {
    position: absolute;
    top: 3px;
    right: 50%;
    left: -200px;
    background: #fff;
    content: '';
    height: 3px;
    pointer-events: none; }
  audio-player input::-moz-range-track {
    width: 45px;
    height: 3px; }
  audio-player input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #e00;
    border: 0;
    border-radius: 50%;
    position: relative;
    opacity: 0; }
  audio-player input::-moz-range-progress {
    height: 3px;
    background: #e00;
    border: 0;
    margin-top: 0; }
  audio-player input::-ms-track {
    background: transparent;
    border: 0;
    border-color: transparent;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    height: 3px;
    margin-top: 10px;
    width: 45px; }
  audio-player input::-ms-thumb {
    border: 0px;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: #e00;
    opacity: 0; }
  audio-player input::-ms-fill-lower {
    background: #e00;
    border-radius: 0; }
  audio-player input::-ms-fill-upper {
    background: #666;
    border-radius: 0; }
  audio-player input::-ms-tooltip {
    display: none; }

/*****************************/
/***** Marquee  **************/
/*****************************/
/* Make it a marquee */
.marquee {
  position: relative;
  width: 150px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  padding-left: 1.5em; }

.marquee:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

/* Make it move */
@-webkit-keyframes marquee {
  0% {
    text-indent: 0; }
  100% {
    text-indent: -20em; } }
@keyframes marquee {
  0% {
    text-indent: 0; }
  100% {
    text-indent: -20em; } }
