.links a {
  margin-top: 5px; }

.links .md-fab-action-item .md-button.md-icon-button {
  width: 32px; }

.links .social-link {
  display: inline-block;
  padding: 4px; }

.links .icon {
  color: white;
  -webkit-transition: color .15s ease-in-out;
          transition: color .15s ease-in-out; }
