<section ng-controller="ShowsController" ng-init="find()">
  <div class="page-header">
    <h1>Shows</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="show in shows" ui-sref="shows.view({showId: show._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="show.created | date:'mediumDate'"></span>
        by
        <span ng-if="show.user" ng-bind="show.user.displayName"></span>
        <span ng-if="!show.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="show.title"></h4>
      <p class="list-group-item-text" ng-bind="show.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="shows.$resolved && !shows.length">
    No shows yet, why don't you <a ui-sref="shows.create">create one</a>?
  </div>
</section>
