<section class="container" ng-controller="ShowsController" ng-init="find()">
  <div class="items-list row">
    <div class="col-xs-12">
      <h1>SCRadio Shows</h1>
    </div>
    <div ng-repeat="show in shows" ng-click="playerPlay(show)" class="items-list-group col-xs-6 col-sm-4 col-md-3">
      <div class="items-list-group-container">
        <div class="items-list-group-image-container" ng-style="{'background-image':'url({{show.image}})'}">
          <div class="sr-only">Image of {{show.image}}</div>
        </div>
        <div class="items-list-group-text">
          <span class="items-list-group-text-header" ng-bind="show.title"></span>
          <div ng-show="show.aired">
            Aired: <span>{{show.aired | date:''}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
