<section ng-controller="ShowsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="show.title"></h1>

    <!-- This should never be removed from this page. -->
    <div class="" ng-show="authentication.user._id == show.user._id || authentication.user.roles.indexOf('admin')!=-1">
      <a class="btn btn-primary" ui-sref="shows.edit({showId: show._id})">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="remove();">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>

  </div>
  <div class="pull-right" ng-show="authentication.user._id == show.user">
    <a class="btn btn-primary" ui-sref="shows.edit({showId: show._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      {{userID}}
      <span ng-bind="show.created | date:'mediumDate'"></span>
      by
      <span ng-if="show.user" ng-bind="show.user.displayName"></span>
      <span ng-if="!show.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="show.content"></p>
</section>
