<div layout="row">

    <md-content layout="row" flex-sm="40" flex-gt-sm="30" flex-xs="45">
        <md-button class="md-icon-button md-mini" ng-click="player.playPause()">
            <div class="sr-only">Play/pause Button</div>
            <md-icon md-font-icon="fa fa-play fa-2x" ng-if="!player.isPlaying"></md-icon>
            <md-icon  md-font-icon="fa fa-pause fa-2x" ng-if="player.isPlaying"></md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-click="player.volumeChange('up')">
            <md-icon md-font-icon="fa fa-plus fa-2x"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="player.volumeChange()">
            <md-icon md-font-icon="fa fa-minus fa-2x"></md-icon>
        </md-button>

    </md-content>
    <md-content flex-xs="60" flex-sm="300px" flex-gt-sm="300px" layout="row">
        <div class="meta-data marquee" flex="100">
            <div>
                <span>{{metadata.tracks.current.name || 'this is all just one big game'}}</span>
                <span>{{metadata.tracks.current.name || 'this is all just one big game'}}</span>
            </div>
            <span class="fader"></span>
        </div>
    </md-content>

</div>

