<div layout="row">

    <md-content layout="row" flex-sm="40" flex-gt-sm="30" flex-xs="45">
        <md-button class="md-icon-button md-mini" ng-click="player.playPause()">
            <div class="sr-only">Play/pause Button</div>
            <md-icon md-font-icon="fa fa-play fa-xl" ng-if="!player.isPlaying"></md-icon>
            <md-icon md-font-icon="fa fa-pause fa-xl" ng-if="player.isPlaying"></md-icon>
            <md-tooltip md-direction="down">
                <span ng-if="!player.isPlaying">Play</span>
                <span ng-if="player.isPlaying">Pause</span>
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="player.volumeChange('up')" ng-style="opacityPlus">
            <md-tooltip md-direction="down">
                {{radio.volume * 100}}%
            </md-tooltip>
            <md-icon md-font-icon="fa fa-plus fa-xl"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="player.volumeChange('down')" ng-style="opacityMinus">
            <md-tooltip md-direction="down">
                {{radio.volume * 100}}%
            </md-tooltip>
            <md-icon md-font-icon="fa fa-minus fa-xl"></md-icon>
        </md-button>

    </md-content>
    <md-content flex-xs="60" flex-sm="300px" flex-gt-sm="300px" layout="row">
        <md-tooltip md-direction="down">Currently Playing</md-tooltip>
        <div class="meta-data marquee" flex="100">
            <div>
                <span>{{metadata.tracks.current.name || defaultText | jsonToHtml}}</span>
                <span>{{metadata.tracks.current.name || defaultText | jsonToHtml}}</span>
            </div>
            <span class="fader"></span>
        </div>
    </md-content>

</div>

