
<section class="carousel-container" ng-swipe-left="next()" ng-swipe-right="previous()" ng-mousedown="stopRotation()" ng-mouseup="startRotation()">
  <!--Top Marquee for controls and info display-->
  <div class="carousel-controls col-xs-12">
    <div class="previous" ng-click="previous()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
      <div class="arrow">
        <span class="icon-wrap"></span>
      </div>
    </div>

    <div class="next" ng-click="next()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
      <div class="arrow">
        <span class="icon-wrap"></span>
      </div>
    </div>
  </div>

  <div class="carousel-img-container">
    <div class="bg-img" ng-class="direction" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)" style="background-image: url('{{slide.image}}')"></div>
  </div>

  <div class="info" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
    <div class="animated-slide" ng-class="direction" ng-hide="!isCurrentSlideIndex($index)" ng-repeat="slide in slides">
      <div ng-if="slide.resourceType == 'episodes'">
        <h2 ui-sref="episodes.view({episodeId: slide.resourceId})">{{slide.title}}</h2>
      </div>
      <div ng-if="slide.resourceType == 'regulars'">
        <h2 ui-sref="regulars.view({episodeId: slide.resourceId})">{{slide.title}}</h2>
      </div>
      <div ng-if="slide.resourceType == 'specials'">
        <h2 ui-sref="specials.view({episodeId: slide.resourceId})">{{slide.title}}</h2>
      </div>
      <div ng-if="slide.resourceType == 'things'">
        <h2 ui-sref="things.view({episodeId: slide.resourceId})">{{slide.title}}</h2>
      </div>
      <h4>{{slide.headline}}</h4>
      <p ng-if="$root.lang == 'kr'">{{slide.description.kr || slide.description.en}}</p>
      <p ng-if="$root.lang == 'en' || !$root.lang">{{slide.description.en}}</p>

      <!--<a ui-sref="pages({type:'{{slide.category}}', id:'{{slide.id}}')">Go! &ndash;&gt;</a>-->
    </div>
  </div>
</section>