<section class="carousel-container" ng-swipe-left="next()" ng-swipe-right="previous()" ng-mousedown="stopRotation()"
         ng-mouseup="startRotation()">
    <!--Top Marquee for controls and info display-->
    <div class="carousel-controls col-xs-12">
        <div class="previous" ng-click="previous()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
            <div class="arrow">
                <span class="icon-wrap"></span>
            </div>
        </div>

        <div class="next" ng-click="next()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
            <div class="arrow">
                <span class="icon-wrap"></span>
            </div>
        </div>
    </div>

    <div class="carousel-img-container">
        <div class="bg-img" ng-class="direction" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)"
             style="background-image: url('{{slide.image}}')"></div>
    </div>

    <div class="info" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()" layout="row" layout-align="center center">
        <div class="info-container" flex="30" flex-xs="80" flex-sm="50" flex-md="40" flex-offset="10">
            <div class="animated-slide" ng-class="direction" ng-hide="!isCurrentSlideIndex($index)"
                 ng-repeat="slide in slides">
                <div class="md-padding" md-theme="scr-main" layout-xs="column" layout="row">
                    <div flex-xs="" layout="column">
                        <md-card flex>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{slide.title}}</span>
                                    <span class="md-subhead">
                                    {{$root.lang === 'en' ? slide.headline.en : (slide.headline.kr || slide.headline.en)}}
                                </span>
                                </md-card-title-text>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button class="md-icon-button" ng-click="go(slide)"
                                               aria-label="Link to {{slide.title}} page">
                                        <md-icon md-font-icon="fa fa-link fa-lg"></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-if="tile.links.mixcloud"
                                               ng-click="playPlayer(tile.links.mixcloud)"
                                               aria-label="Play media for {{slide.title}}">
                                        <md-icon md-font-icon="fa fa-play fa-lg"></md-icon>
                                    </md-button>
                                </md-card-actions>
                            </md-card-title>
                            <md-card-content>
                            <span class="md-media-xl">
                                    {{$root.lang === 'kr' ? (slide.description.kr || slide.description.en) : slide.description.en}}
                                </span>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
        <div flex></div>
    </div>
</section>
