<section class="carousel-container" ng-swipe-left="next()" ng-swipe-right="previous()" ng-mousedown="stopRotation()"
         ng-mouseup="startRotation()">
    <!--Top Marquee for controls and info display-->
    <div class="carousel-controls col-xs-12">
        <div class="previous" ng-click="previous()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
            <div class="arrow">
                <span class="icon-wrap"></span>
            </div>
        </div>

        <div class="next" ng-click="next()" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
            <div class="arrow">
                <span class="icon-wrap"></span>
            </div>
        </div>
    </div>

    <div class="carousel-img-container">
        <div class="bg-img" ng-class="direction" ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)"
             style="background-image: url('{{slide.image}}')"></div>
    </div>

    <div class="info" ng-mouseover="stopRotation()" ng-mouseleave="startRotation()">
        <div class="animated-slide" ng-class="direction" ng-hide="!isCurrentSlideIndex($index)"
             ng-repeat="slide in slides">

            <h2 ui-sref="things.view({episodeId: slide.resourceId})">
                <div class="emp">
                    {{slide.title}}
                </div>
            </h2>
            <h4>
                <!--<span class="emp">-->
                <!--<span>-->
                <div class="emp">
                    {{slide.headline}}
                </div>
                <!--</span>-->
                <!--</span>-->
            </h4>

            <!--<p ng-if="$root.lang == 'kr'">-->
            <!--{{slide.description.kr || slide.description.en}}</span>-->
            <!--</p>-->
            <!--<p ng-if="$root.lang == 'en' || !$root.lang">-->
            <!--<span class="emp">-->
            <!--<span>{{slide.description.en}}</span>-->
            <!--</span>-->
            <!--</p>-->

            <!--<a ui-sref="pages({type:'{{slide.category}}', id:'{{slide.id}}')">Go! &ndash;&gt;</a>-->
        </div>
    </div>
</section>