




<md-toolbar md-theme="scr-main" class="md-hue-2 scr-navbar-fixed-top" layout="row" layout-wrap>

    <div id="brand-logo-container" aria-label="Home" flex-offset-xs="5" flex-order-xs="-1" flex-xs="20" flex-gt-xs="5">
        <a rel="home" class="brand-logo" ui-sref="home" title="Seoul Community Radio">
            <img src="modules/core/client/img/brand/brand-logo.jpg" alt="Seoul Community Radio Logo">
        </a>
    </div>

    <md-content flex-sm="55" flex-gt-sm="50" flex-xs="100">
        <audio-player></audio-player>
        <mc-widget></mc-widget>
    </md-content>

    <md-content flex=""></md-content>

    <md-content class="md-overflow-visible" flex-order-xs="-1" flex-xs flex-sm="30" flex-gt-sm="35" layout-align="end" layout="row">
        <scr-links links="ctrl.main_links"></scr-links>

        <div class="links">
            <a class="social-link" target="_blank" ng-click="$root.toggleLanguage()"
               uib-tooltip="{{$root.lang === 'kr' ? '한글' : 'Eng'}}" tooltip-placement="left">
                <div class="icon">
                    <i class="fa fa-language fa-fw fa-lg" ng-class="{'fa-flip-horizontal': $root.lang === 'kr'}"></i>
                </div>
            </a>
        </div>

        <!--<div class="lang">-->
            <!--<span ng-click="$root.toggleLanguage()" tooltip-placement="left"-->
                  <!--uib-tooltip="{{$root.lang === 'kr' ? '한글' : 'Eng'}}" role="button">-->
            <!--<i class="fa fa-language fa-fw fa-lg" ng-class="{'fa-flip-horizontal': $root.lang === 'kr'}"></i>-->
        <!--</span>-->
        <!--</div>-->
    </md-content>

</md-toolbar>