<!--<section class="container tiles-container">-->
<!--<div class="tile" ng-repeat="tile in tiles | limitTo: limit">-->
<!--<div class="row tile" ng-click="">-->
<!--<div class="col-xs-6 tile-img" ng-style="{'background-image':'url({{tile.image}})'}"></div>-->
<!--<div class="col-xs-6 tile-info">-->
<!--<span class="tile-text tile-title">{{tile.title}}</span>-->
<!--&lt;!&ndash;TODO: add filter to time to show in hours and minutes&ndash;&gt;-->
<!--<span class="tile-text text-muted">Duration: {{tile.length}}</span>-->
<!--<span class="tile-text text-muted">Aired: {{tile.date | date: 'dd-MM-yy'}}</span>-->
<!--<span class="tile-text text-muted">At: {{tile.date | date: 'HH:mm'}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<div layout="column">
    <md-content md-theme="scr-main" layout="row" flex layout-wrap>
        <div layout="column" flex-gt-sm="{{100/rowLength}}" ng-repeat="tile in tiles | limitTo: limit">
            <md-card flex>
                <div class="md-card-image" ng-style="{'background-image': 'url(' + tile.image + ')'}">
                    <img ng-src="{{placeholder}}" class="md-card-image" alt="{{tile.title}} image">
                </div>

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{tile.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <!--<md-card-icon-actions>-->
                        <!--&lt;!&ndash;<md-button class="md-icon-button" aria-label="Favorite">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-button class="md-icon-button" aria-label="Share">&ndash;&gt;-->
                        <!--&lt;!&ndash;<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>&ndash;&gt;-->
                        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
                    <!--</md-card-icon-actions>-->
                    <md-button ng-click="playPlayer()" aria-label="Play media for {{tile.title}}">
                        <i class="fa fa-play-circle-o fa-lg"></i>
                    </md-button>
                    <md-button aria-label="Link to {{tile.title}} page">
                        <i class="fa fa-link fa-lg"></i>
                    </md-button>
                </md-card-actions>
                <!--<md-card-content>-->
                    <!--<p>-->
                        <!--{{tile.description[$root.lang] || tile.description.en}}-->
                    <!--</p>-->
                <!--</md-card-content>-->
            </md-card>
        </div>
    </md-content>
</div>


<!--<div class="container" layout="row" flex>-->
<!--<md-content style="background: #000" id="tiles" flex>-->
<!--adsfadsf-->
<!--</md-content>-->
<!--</div>-->