<section class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="tile in tiles | limitTo: limit">
        <div class="tile" ng-click="">
          <div class="col-xs-6 tile-img" ng-style="{'background-image':'url({{tile.image}})'}"></div>
          <div class="col-xs-6 tile-info">
            <span class="tile-text tile-title">{{tile.title}}</span>
            <!--TODO: add filter to time to show in hours and minutes-->
            <span class="tile-text text-muted">Duration: {{tile.length}}</span>
            <span class="tile-text text-muted">Aired: {{tile.date | date: 'dd-MM-yy'}}</span>
            <span class="tile-text text-muted">At: {{tile.date | date: 'HH:mm'}}</span>
          </div>
        </div>
      </div>
    </div>
</section>