<section class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="tile in tiles | limitTo: limit">
        <img class="img-responsive" src="modules/core/client/img/resources/placeholder-square.png" alt="Hack to make tiles responsive">
        <div class="tile">
          <div ng-click="playPlayer(tile.links.mixcloud)" class="col-xs-6 tile-img" ng-style="{'background-image':'url({{tile.image}})'}"></div>
          <div ui-sref="regulars.view({regularId: tile._id})" class="col-xs-6 tile-info">
            <div class="tile-text-fading">
              <span class="tile-text tile-title">{{tile.title}}</span>
              <p>{{tile.description.en}}</p>
              <p class="read-more">
                <!--<a ui-sref="regulars.view({regularId: tile._id})" class="button">Read More</a>-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>