<section class="tiles-container">
    <div ng-repeat="tile in tiles | limitTo: limit">
      <div class="row tile" ng-click="">
        <div class="col-xs-6 tile-img" ng-style="{'background-image':'url({{tile.profileImageURL}})'}"></div>
        <div class="col-xs-6 tile-info">
          <span class="tile-text tile-title">{{tile.title}}</span>
          <!--TODO: add filter to time to show in hours and minutes-->
          <span class="tile-text text-muted">Duration: {{tile.length}}</span>
          <span class="tile-text text-muted">Aired: {{tile.date | date: 'dd-MM-yy'}}</span>
          <span class="tile-text text-muted">At: {{tile.date | date: 'HH:mm'}}</span>
        </div>
      </div>
    </div>
</section>