
<div layout="column" class="tiles">
    <md-content md-theme="scr-main" layout="row" flex layout-wrap>
        <div layout="column" flex-gt-sm="{{100/rowLength}}" flex-sm="{{100/rowLengthSmall}}" flex-xs="100" ng-repeat="tile in tiles | limitTo: limit">
            <md-card flex>
                <div class="md-card-image" ng-style="{'background-image': 'url(' + tile.image + ')'}">
                    <md-chips>
                        <md-chip>
                            <span ng-if="tile.category">
                                {{tile.category | capitalize}}
                            </span>
                            <span ng-if="!tile.category">
                                Featured
                            </span>
                        </md-chip>
                    </md-chips>
                    <img ng-src="{{placeholder}}" class="md-card-image" alt="{{tile.title}} image">
                </div>

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{tile.title}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">

                    <md-button class="md-icon-button md-raised md-primary" ng-click="go(tile)"
                               aria-label="Link to {{tile.title}} page">
                        <md-icon md-font-icon="fa fa-link fa-lg"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-raised md-primary" ng-if="tile.links.mixcloud"
                               ng-click="playPlayer(tile.links.mixcloud)" aria-label="Play media for {{tile.title}}">
                        <md-icon md-font-icon="fa fa-play fa-lg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>
