<section ng-controller="ResidentsController" ng-init="findOne()">

  <div class="bg-revealer">
  </div>

  <div class="item container-fluid">

    <div class="item-top row no-gutter">

      <div class="item-header col-sm-4">
        <div class="item-play">
          <i ng-click="$root.playerPlay(resident.links.mixcloud)" class="fa fa-play fa-3x fa-fw"></i>
        </div>
        <div class="item-info">
          <span class="item-title">{{resident.title}}</span>
          <small>
            <em class="text-muted">
              <span class="item-headline" ng-show="resident.headline">{{resident.headline}}</span>
              <span class="item-headline" ng-hide="resident.headline">A filler headline till you input your own.</span>
            </em>
          </small>
        </div>
      </div>

      <div class="admin-crud" ng-show="authentication.user._id == resident.user._id || authentication.user.roles.indexOf('admin')">
        <a class="btn btn-primary" ui-sref="residents.edit({residentId: resident._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>

    </div>

    <div class="item-bottom row no-gutter">

      <div class="item-left hidden-xs col-sm-4">
        <div class="item-desc">
          <p ng-if="$root.lang == 'kr'">{{resident.description.kr || resident.description.en}}</p>
          <p ng-if="$root.lang == 'en' || !$root.lang">{{resident.description.en}}</p>
        </div>
      </div>

      <div class="item-middle col-xs-12 col-sm-4">
        <ul>
          <li ng-hide="programs.length">
            <small>
              A host, a title {{resident.title}} can not boast; for a program they are in want the most.
              (TL;DR, {{resident.title}} doesn't have a program)
            </small>
          </li>
          <li ng-show="programs.length" ng-repeat="item in programs">
            <div class="item-play">
              <i ng-click="$root.playerPlay(item.links.mixcloud)" class="fa fa-play-circle fa-2x fa-fw"></i>
            </div>
            <div class="item-info">
              <a ui-sref="programs.view({programId: item._id})">{{item.title}}</a>
              <small>
                <em class="text-muted">
                  <span class="item-headline" ng-show="item.headline">{{item.headline}}</span>
                  <span class="item-headline" ng-hide="item.headline">A filler headline till you input your own.</span>
                </em>
              </small>
            </div>
          </li>
        </ul>
      </div>

      <div class="item-right col-xs-12 col-sm-4">
        <ul>
          <li ng-repeat="item in episodes">
            <div class="item-play">
              <i ng-click="$root.playerPlay(item.links.mixcloud)" class="fa fa-play-circle fa-2x fa-fw"></i>
            </div>
            <div class="item-info">
              <a ui-sref="episodes.view({episodeId: item._id})">{{item.title}}</a>
              <small>
                <em class="text-muted">
                  <span class="item-headline" ng-show="item.program.title">
                    {{item.program.title}}
                    <a ui-sref="programs.view({programId: item.program._id})">
                      <i class="fa fa-play-circle fa-fw"></i>
                    </a>
                  </span>
                  <span class="item-headline" ng-hide="item.program.title"></span>
                </em>
              </small>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!--<p class="lead" ng-bind="resident.description.en"></p>-->

</section>
