
.items-list {}

.items-list-group {}

.items-list-group-container {}

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover;
}

.items-list-group-image {}

.items-list-group-text {}





