
.items-list {}

.items-list-group {
  padding-bottom: 23px;
}

.items-list-group:hover .items-list-group-image-container {
  border: solid 3px white;
}

.items-list-group-container {
  background-color: rgba(0, 0, 0, .4);
}

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover;
}

.items-list-group-image {}

.items-list-group-text {
  height: 65px;
  padding: 5px;
}

.items-list-group-text-header {
  font-size: 1.2em;
}





