md-datepicker {
  padding: 5px; }

.play-container {
  padding: 14%;
  opacity: 0;
  text-align: center; }

.play-container i {
  font-size: 6em; }

.items-list-group:hover .play-container {
  opacity: 1; }
