<section class="container" ng-controller="ProgramsController" ng-init="getDjs(); clear()">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 jumbotron">
    <div class="col-xs-10 col-xs-offset-1">
      <div>
        <h2>New Program</h2>
      </div>
      <form name="programForm" class="form-horizontal" ng-submit="create(programForm.$valid)" novalidate>
        <fieldset>

          <div class="form-group" show-errors>
            <label for="title">Title:</label>
            <input name="title" type="text" ng-model="program.title" id="title" class="form-control" placeholder="Title" required>
            <div ng-messages="programForm.title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Program title is required.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="image">Image:</label>
            <input name="image" type="text" ng-model="program.image" id="image" class="form-control" placeholder="Image URL">
          </div>

          <div class="form-group">
            <label>Links: <span class="caption text-muted">Fill in applicable; these are used as social media links</span></label>
            <input name="links" type="text" ng-model="program.links.facebook" class="form-control" placeholder="Facebook Page URL">
            <input name="links" type="text" ng-model="program.links.twitter" class="form-control" placeholder="Twitter Page URL">
            <input name="links" type="text" ng-model="program.links.mixcloud" class="form-control" placeholder="Mixcloud Page URL">
            <input name="links" type="text" ng-model="program.links.homepage" class="form-control" placeholder="Homepage Page URL">
          </div>

          <div class="form-group">
            <div>
              <label for="description_en">
                Description: <span class="caption text-muted">English synopsis of your program (100~500 Characters)</span>
              </label>
              <textarea name="description_en" type="text" ng-model="program.description.en" id="description_en" class="form-control" placeholder="English description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div>
              <label for="description_kr">
                Description: <span class="caption text-muted">Korean synopsis of you and your style (100~500 Characters)</span>
              </label>
              <textarea name="description_kr" type="text" ng-model="program.description.kr" id="description_kr" class="form-control" placeholder="Korean description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="time">
              Time: <span class="caption text-muted">Start time of your program.</span>
            </label>
            <input type="time" id="time" name="input" ng-model="program.schedule.time" placeholder="HH:mm:ss" />
          </div>

          <div class="form-group">
            <label for="daySelect">
              Day: <span class="caption text-muted">Day the program airs</span>
            </label>
            <select name="daySelect" id="daySelect" ng-model="program.schedule.day">
              <option ng-repeat="option in days" value="{{option}}">{{option | capitalize}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="frequencySelect">
              Frequency: <span class="caption text-muted">Daily, weekly, monthly.</span>
            </label>
            <select name="frequencySelect" id="frequencySelect" ng-model="program.schedule.frequency">
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
              <option value="monthly">Monthly</option>
            </select>
          </div>

          <div class="form-group">
            <label for="djSelect">
              DJs: <span class="caption text-muted">DJs that host this program.</span>
            </label>
            <select name="djSelect" id="djSelect" ng-model="selected_dj">
              <option ng-repeat="option in djs" value="{{option}}">{{option.title}}</option>
            </select>
            <span class="glyphicon glyphicon-plus" ng-click="addDj(selected_dj)"></span>
            <div>{{program.djs}}</div>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>

          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

