/************************/
/************************/
.tile-text-fading {
  position: relative;
  overflow: hidden; }

.tile-text-fading .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: -webkit-linear-gradient(top, transparent, black);
  background-image: linear-gradient(to bottom, transparent, black); }

.residents .tile-text-fading {
  padding: 10px;
  bottom: 15px;
  top: 0;
  position: absolute; }
