.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0;
  background-color: #747D7D;
  font-family: 'Roboto', sans-serif; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

@media screen and (max-width: 767px) {
  .col-xs-hidden {
    display: none; } }

/***************************/
/***************************/
a {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  color: whitesmoke;
  text-decoration: none; }

a:focus {
  text-decoration: none; }

/***************************/
/***************************/
.view {
  min-height: 100vh;
  padding-top: 55px; }

/***************************/
/***************************/
.bg {
  background-size: cover;
  background-position: center; }

.bg-1 {
  background-image: url("/modules/core/client/data/images/Close quarters.jpg"); }

/***************************/
/***************************/
.items-list {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.4); }

.items-list-group {
  padding-bottom: 23px; }

.items-list-group:hover .items-list-group-image-container {
  border: solid 3px white; }

.items-list-group-container {
  background-color: black; }

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover; }

.items-list-group-text {
  height: 65px;
  padding: 5px; }

.items-list-group-text-header {
  font-size: 1.2em; }
