@font-face {
  font-family: "DIN";
  src: url("../assets/fonts/DIN_bold.TTF") format("truetype"); }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  height: 100%;
  padding: 0;
  background-color: transparent;
  font-family: 'DIN', 'Roboto', sans-serif;
  color: white;
  z-index: -1; }

html {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("../img/brand/brand-bg.jpg");
  background-repeat: no-repeat; }

/***************************/
/***************************/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/***************************/
/***************************/
*:focus {
  outline: none; }

a {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  color: whitesmoke;
  text-decoration: none; }

a:focus {
  text-decoration: none; }

.row-table {
  display: table;
  margin-right: -15px;
  margin-left: -15px; }

.row-table [class*="col-sm"] {
  float: none;
  display: table-cell;
  vertical-align: top; }

/***************************/
/***************************/
.app-body {
  padding-bottom: 70px; }

.view {
  padding-top: 55px; }

/***************************/
/***************************/
.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.bg-revealer {
  min-height: 50vh; }

/***************************/
/***************************/
.items-list {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.4); }

.items-list-group {
  padding-bottom: 23px; }

.items-list-group:hover .items-list-group-image-container {
  border: solid 3px white; }

.items-list-group-container {
  background-color: black; }

.items-list-group-image-container {
  height: 160px;
  background-position: center;
  background-size: cover; }

.items-list-group-text {
  height: 65px;
  padding: 5px; }

.items-list-group-text-header {
  font-size: 1.2em; }

.item span {
  position: relative;
  display: block; }

/***************************/
/***************************/
.admin-crud {
  position: absolute;
  top: 0;
  right: 0; }

.item {
  position: relative; }

.item-desc {
  padding: 0 10px; }

.item-info {
  position: absolute;
  left: 50px;
  display: inline-block;
  padding-top: 4px; }

.item-info p {
  padding-right: 15px;
  padding-left: 15px;
  text-align: justify; }

/* item top section */
.item-top {
  position: relative; }

.item-header {
  height: 60px;
  background-color: #282828; }

.item-play {
  position: absolute;
  top: 12px;
  display: inline-block; }

.item-title {
  font-size: 1.5em; }

/* item bottom section */
.item-bottom {
  position: relative;
  height: 500px;
  background-color: transparent;
  color: #c3c3c3; }
  .item-bottom a {
    color: #c3c3c3; }

.item-bottom ul {
  border-bottom-color: rgba(255, 255, 255, 0.05);
  border-top-color: rgba(0, 0, 0, 0.2);
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.item-bottom li {
  margin: 0;
  padding: 5px;
  position: relative;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.05); }

.item-left {
  position: relative;
  height: 100%;
  background-color: #282828; }

.item-middle {
  height: 100%;
  background-color: #181818; }

.item-right {
  height: 100%;
  background-color: #282828; }

/***************************/
/***************************/
md-content.md-scr-main-theme {
  background-color: transparent; }

.responsive-iframe {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
