/*TOPNAV STYLES*/
/*END TOPNAV*/
/*SIDEBAR STYLES*/
/*-------------------------------*/
/*       Top-Nav Bar             */
/*-------------------------------*/
/*bs fix to keep .navbar-static-top from covering sidebar*/
.scr-navbar-fixed-top {
  z-index: 101;
  position: fixed;
  min-height: 44px;
  border-bottom: 2px solid white; }

#brand-logo-container {
  margin-top: 7px; }

@media (min-width: 600px) {
  #brand-logo-container {
    margin-left: 50px;
    text-align: center; } }

@media (max-width: 599px) {
  #brand-logo-container {
    text-align: center; } }

.brand-logo {
  width: 35px; }

.brand-logo img {
  width: 30px;
  height: 30px; }

.lang {
  padding: 6px; }

.md-overflow-visible {
  overflow: visible; }

/*END fix*/
/*-------------------------------*/
/* Overlay for use w/sidebar     */
/*-------------------------------*/
#sidebar-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  left: 250px;
  top: 82px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  @media (min-width: 600px) {
    #sidebar-overlay {
      top: 44px; } }

#sidebar-overlay.toggled-remove {
  opacity: 0;
  display: block; }

#sidebar-overlay.toggled-add {
  display: block;
  -webkit-transition-delay: .5s;
  /* Safari */
  transition-delay: .5s; }

#sidebar-overlay.toggled {
  display: block;
  opacity: .5; }

/* Toggle Styles */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: -250px;
  /* move sidebar off screen on toggle */
  width: 250px;
  height: 100%;
  margin-top: 82px;
  overflow: visible;
  /* the placement of the button requires this */
  border-right: 2px solid white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  @media (min-width: 600px) {
    #sidebar-wrapper {
      margin-top: 44px; } }

#sidebar-wrapper nav ul {
  height: 100%;
  overflow-y: auto; }

#sidebar-wrapper.toggled-remove {
  -webkit-transition-delay: .3s;
  /* Safari */
  transition-delay: .3s; }

#sidebar-wrapper.toggled {
  left: 0; }

/* Sidebar Styles */
.sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(0, 0, 0, 0.4); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav .btn-block {
  width: 90%;
  margin: auto;
  color: #fff; }

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
/*HAMBURGER - much complex, very complication*/
/* Toggle Button Styles */
#menu-toggle {
  position: fixed;
  display: inline;
  top: 0;
  width: 25px;
  height: 30px;
  z-index: 1000;
  margin: 5px;
  background: transparent;
  border: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#menu-toggle:hover,
#menu-toggle:focus,
#menu-toggle:active {
  outline: none; }

#menu-toggle:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle .hamb-top,
#menu-toggle .hamb-middle,
#menu-toggle .hamb-bottom,
#menu-toggle.toggled .hamb-top,
#menu-toggle.toggled .hamb-middle,
#menu-toggle.toggled .hamb-bottom {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%; }

#menu-toggle .hamb-top,
#menu-toggle .hamb-middle,
#menu-toggle .hamb-bottom {
  background-color: white; }

#menu-toggle .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle .hamb-middle {
  top: 50%;
  margin-top: -2px; }

#menu-toggle .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle.toggled .hamb-top,
#menu-toggle.toggled .hamb-bottom {
  top: 50%;
  margin-top: -2px; }

#menu-toggle.toggled .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

#menu-toggle.toggled .hamb-middle {
  display: none; }

#menu-toggle.toggled .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

#menu-toggle.toggled:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

#menu-toggle.toggled:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

/*-------------------------------*/
/*   Side-bar menu items         */
/*-------------------------------*/
.menu-dropdown {
  position: relative;
  color: white; }

.menu-dropdown-btn {
  height: 50px; }

.menu-dropdown-btn > * {
  display: inline-block;
  max-height: 100%; }

.menu-dropdown-menu {
  height: 0;
  overflow: hidden; }

.menu-dropdown-menu.dropped {
  height: 100%; }
